.c-list__item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  padding: 8px 16px;
  font-size: 20px;
}
.c-list__item:hover {
  background: #ccc;
}
.c-list__text {
  flex: 1 1 0;
}
.c-list__delete {
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: rgb(235, 114, 120);
  cursor: pointer;
  opacity: 0;
}
.c-list__item:hover .c-list__delete {
  opacity: 1;
}
