.c-todo__footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding: 8px 0px;
}
.c-footer__delete {
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: rgb(235, 114, 120);
  cursor: pointer;
  opacity: 1;
}
