.c-todo {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 16px;
  width: 350px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 8px;
}
.c-btn {
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.c-btn--check {
  background-color: #6daf7d;
}
.c-btn--delete {
  background-color: rgb(235, 114, 120);
  opacity: 0;
}
